.blockAuth {

    margin-top: 40px;
}

.logOut {
    display: flex;
    flex-direction: row;
    color: #02325e;
    cursor: pointer;
}
.logOut img{
    display: block;
    margin-left: 10px;
}
.login{
    color: #02325e;
    cursor: pointer;
    text-decoration: none;
}