.blockUsersPage {
    display: flex;
    flex-direction: column;
}

.blockUsers {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 50px;
}