.dot {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: #6c757d 1px solid;
    background-color: #6c757d;
    margin-right: 20px;
}

.name {
    display: flex;
    text-decoration: none;
    font-size: 17px;
    font-family: dm sans, sans-serif;
    color: #6c757d;
    margin-top: 50px;
    margin-left: 50px;
    cursor: pointer;

}
.name.active{
    color: black;
    font-weight: 500;
}
.name:hover {
    color: black;
    font-size: 19px;
}
