.blockProfile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 700px;
}

.blockPreview {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    height: 150px;
    width: 750px;
    border-radius: 15px 15px 0 0;
    background: linear-gradient(to top, white 50%, #dce8f3 50%);
    /*border: 1px black solid;*/
}

.smallAva {

    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px white solid;
    background-color: #dce8f3;
    margin-left: 20px;
    margin-right: 30px;
}

.name {

    font-weight: bold;
    font-size: 24px;
    margin-top: 65px;
    margin-left: 15px;
}

.titleInfo {
    color: #6c757d;
}

.desInfo {
    color: #02325e;
}

.blockContent {
    display: flex;
    flex-direction: row;
    /*border: 1px solid black;*/
    margin-left: 20px;
    margin-top: 20px;

}

.blockInfo {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    padding: 5px;
    min-width: 300px;
    justify-content: space-around;
    min-height: 250px;
}


.avatar {
    width: 250px;
    height: 300px;
    border-radius: 20px;

}

.contacts {
    display: flex;
}

.status {
    margin-top: 5px;
    font-family: dm sans, sans-serif;
    color: #02325e;
}

.editProfile {
    align-self: flex-end;
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e6dfd;
    cursor: pointer;
    border-radius: 12px;


}

.editProfile:hover {
    background-color: #0965ee;;
}

.linkEdit {
    color: #fff;
    font-size: 15px;
    text-decoration: none;

}