.wrapper {
    margin-top: 20px;
    display: flex;
    width: 700px;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    /*font-style: normal;*/
    /*font-weight: 400;*/
    /*font-size: 12px;*/
    /*line-height: 15px;*/
}

.pagesWrap {
    display: flex;
    justify-content: space-between;
}

.pagesBlock {
    margin-left: 15px;
    margin-right: 15px;
}

.pagesWrap button {

    border: none;
    margin-right: 5px;
    width: 30px;
    height: 24px;
    background-color: transparent;
    cursor: pointer;
}

.pagesWrap button:last-child {
    margin-right: 0;
}

.pagesWrap .active {
    border-radius: 10%;
    background-color: #366EFF;
    color: whitesmoke;
}

.show {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.chevron {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.pagesWrap select {
    border: none;
}